<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daksha Foundation</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header>
      <i id="menu-bar" class="fas fa-bars"></i>
       <div class="logo">DAKSHA</div>
    <nav>     
        <div class="nav-links"><ul>
            <li><a href="#">About</a></li>
            <li>
            <a href="#">Register</a>
            </li>
            <li><a href="#">Donate</a></li>
            <li><a href="#">Contact</a></li>
            </ul>
          </nav>
            <div class="login">
              <div class="login-container">
                <a href="/login">Login</a>
              </div>
            </div>
          </ul>
      </div>
    
    </div>
    </header>

  <!--home sections starts-->
<section class="home">
  <div class="home-container">
    <div class="home-text">
     <P>Daksha Foundation is an educational non profit organization that aims to help students across Kerala, by means of providing a platform to those that are willing to help.We hope by hosting a variety of subjects of social relevence,a child is educated not just for a degree, but to be a better human as well. </P>  
   </div>
  </div>
</section>

<!--about section-->
<div class="about">
  <h1><span>ABOUT</span> THE CAMPAIGN</h1>
  <p>Access to education has always been a challenge for under-privileged children.
    As of now, Daksha runs on a preliminary stage where the students are categorized from age 4 to 11.
    We aim to act as a bridge that connects these young minds to education and schools, rather than replicating a school system.
    Let us join hands and bring about a change in society!  
  </p>
</div>

<!---become a part-->
<section id="part">
  <h2>BECOME <span>A PART</span> OF THE FOUNDATION</h2>
  <div class="apply">
    <div class="box1">
      <i class="fa fa-user-circle" aria-hidden="true"></i>
      <a href="/volApplication" >Apply as Volunteer</a>
        <p>Interested volunteers can apply for the job by filling out the form.
            Candidates are selected after an interview process. </p>
    </div>
    <div class="box1">
      <i class="fa fa-building" aria-hidden="true"></i>
      <a href="/centerappli" >Apply as Center</a>
      <p>Interested volunteers can provide space to 
        accomodate students or hold classes. Center admission is done 
        after an onsite verification.</p>
    </div>
    </div>
  </section>
<!--------Team Members----------->
<div class="wrapper">
  <h2>OUR TEAM</h2>
  
  <div class="members">
      <div class="team-mem">
          <img src="/public/images/rahul.jpeg">
          <h4>Rahul Babu</h4>
      </div>
      <div class="team-mem">
          <img src="/public/images/savio.jpg">
          <h4>Savio Shaji</h4>
      </div>
      <div class="team-mem">
          <img src="/public/images/shalon.jpeg">
          <h4>Shalon Mary</h4>
      </div>
      <div class="team-mem">
          <img src="/public/images/sona.jpeg">
          <h4>Sona Joseph</h4>
      </div>
  </div>
</div> 

<footer>
  <div class="footer-content">
      <h3>DAKSHA</h3>
      <p>“Education is not the filling of a pail, but the lighting of a fire.”</p>
      <ul class="socials">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
      </ul>
  </div>
  <div class="footer-bottom">
      <p>copyright &copy;2020 Daksha Foundation. designed by <span>Team 16</span></p>
  </div>
</footer>

  <script src="script.js"></script>
</body>
</html>
