@import url('https://fonts.googleapis.com/css?family=Poppins: 300, 400, 500, 600, 700, 800, 908&display-swap');

*{
    background-color: #def2f1;
    font-family: 'Poppins', sans-serif;
}

h1{
    position: relative;
    margin-left: 650px;
    color: #2b7a78 ;
    font-size: 1.3rem;
    text-decoration: underline;

}

img{
    position: relative;
    left: 340px ;
    top: 20px;
}

.container{
    position: relative;
    margin-left: 250px;
    background-color: #fff;
    color: #2b7a78;
    width: 1000px;
    height: 1200px;
    top: 20px;
    border-radius: 35px;
}

.container h3{
    background-color: #fff;
}

.personal{
    background-color: #fff;
}

.personal h1{
    background-color: #fff;
    position: relative;
    right: 500px;
    top: 50px;
    text-decoration: none;
}

.personal h3{
    position: relative;
    left: 400px;
    width: 300px;
}

.contact{
    background-color: #fff;
}

.contact h1{
    background-color: #fff;
    position: relative;
    right: 550px;
    top: 50px;
    text-decoration: none;
}

.contact h3{
    position: relative;
    left: 400px;
    width: 300px;
}

button{
    padding: 10px;
    width: 90px;
    border: 0;  
}

#accept{
    background-color: #023020;
    position: relative;
    margin-left: 600px;
    color: #fff;
    top: -100px;
}

#reject{
    color: #fff;
    background-color: maroon;
    position: relative;
    margin-left: 750px;
    top: -140px;
}

#update-button{
    background-color: #008CBA;
    position: relative;
    margin-left: 600px;
    color: #fff;
    top: -150px;
}

#delete-button{
    color: #fff;
    background-color: maroon;
    position: relative;
    margin-left: 750px;
    top: -190px
}

#back{
    color: #2b7a78;
    font-size: 1.3rem;
}