<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/css/boilerplate.css">
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Volunteer Dashboard Panel</title>
</head>
<body>
    <nav>
        <div class="logo-name">
            <span class="logo_name">DAKSHA</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="/volunteer/createreport">
                    <i class=" uil uil-files-landscapes"></i>
                    <span class="link-name">Create Report</span>
                </a></li>
                <li><a href="/volunteer/viewreport">
                    <i class="uil uil-thumbs-up"></i>
                    <span class="link-name">View Reports</span>
                </a></li>
             
            </ul>
            
            <ul class="logout-mode">
                <li><a href="#">
                    <i class="uil uil-signout"></i>
                    <form action="/logout" method="POST" class="link-name">
                        <button>Logout</button>   
                    </form>
                </a></li>
            </li>
            </ul>
        </div>
    </nav>
    <%- body %>
    <script src="script.js"></script>
</body>
</html>